generate-frame/___generated-dxfs
generate-frame/__pycache__
generate-frame/_ignum
generate-frame/build
generate-frame/Include
generate-frame/Lib
generate-frame/Scripts
generate-frame/tcl
generate-frame/dist/_for_copying
generate-frame/dist/_for_copying_dll_pyd
generate-frame/dist/_testing
*.bak
